<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/assets/cardstyle.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body >
    <%- include('partials/nav'); %>
    <div id = "content" class="container">
        <div id = "container">
        <h1>
        Cele mai noi licitatii !
        </h1>
        <br>
        <br>
        <form action = "/" method = "post">
            <div class="form-group row" id="content">
                <label for="inputPassword" class="col-sm-2 col-form-label">Pret: </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPassword" name = "valoare" value = <%= lastvalue %>>
                  </div>
                  <button type="submit" id="btn" class="btn btn-primary" >Cauta</button>
              </div>
        </form>
        <br>
        </div>
        <div id = "container">
            <div class = "card-columns">
                <% data.forEach(function(item){%>
                    <div class = "itemcard">
                        <% let aux = item.imagine; %>
                        <% item.imagine %>
                       <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src = <%= item.imagine %> alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title"><%= item.nume_model %></h5>
                          <p class="card-text"><%= item.descriere %></p>
                          <p class="card-text"><b>Pret actual : </b><%= item.pret_initial %></p>
                          <a href="http://localhost:3000/telefon/<%= item.id_telefon %>" class="btn btn-primary">Vezi detalii</a>
                        </div>
                      </div>
                    </div>
                <%}) %>
            </div>
        </div> 
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>